# Offline Exercise

This notebook has the questions and instructions for the offline exercise. If you haven't already, please go through the `README.md` file before you begin answering the questions here.

Make sure you do NOT commit your answers back to the repo. Instead, copy-paste this notebook together with the `touches.sqlite3` file to a separate folder in your machine, type your answers in that copied notebook, and when you're done, share the new Jupyter notebook back with the recruiter together with additional modules, graphs etc. that you may have. You would need to use the data in the `touches.sqlite3` file to answer all the questions.

In [2]:
import pandas as pd
import sqlite3

In [17]:
conn = sqlite3.connect('touches.sqlite3')
print('Opened database successfully')
cursor = conn.execute("SELECT id, industry, size, location from companies")

Opened database successfully

In [141]:
companies = pd.read_sql("select * from companies", conn)
opportunities = pd.read_sql("select * from opportunities", conn)
persons = pd.read_sql("select * from persons", conn)
touches = pd.read_sql("select * from touches", conn)
touches['touch_scheduled_on'] = pd.to_datetime(touches.touch_scheduled_on)

In [22]:
companies.head()

   id                                industry              size     location
0   1  Diversified Telecommunication Services  51-200 employees   US/Eastern
1   2            Internet Software & Services  51-200 employees  US/Mountain
2   4            Internet Software & Services                     US/Pacific
3   6          Diversified Financial Services   11-50 employees   US/Pacific
4   8                      Telecommunications                     US/Eastern

In [23]:
opportunities.head()

   id  company_id                  created_at latest_stage
0   1        3633  2018-01-01 20:38:03.267059  Closed Lost
1   3        5639  2018-01-01 20:38:03.316160  Closed Lost
2   4         886  2018-01-01 20:38:03.334316  Closed Lost
3   5         588  2018-01-01 20:38:03.343280  Closed Lost
4   6        4798  2018-01-01 20:38:03.346662  Closed Lost

In [24]:
persons.head()

   id  company_id           job_seniority
0  61           1          Vice President
1  62           1                 Manager
2  63           1               Executive
3  64           1                Director
4  65           1  Individual Contributor

In [45]:
touches.head()

       id  person_id touch_scheduled_on     status touch_type
0  166087     127117         2017-06-01  completed      Phone
1  166088     108969         2017-06-01  completed      Other
2  166089     107761         2017-06-01  completed      Phone
3  166091      77118         2017-06-01  completed      Other
4  166093     106696         2017-06-01  completed      Other

### Question 1. Find the most common industry out of all the companies that were `contacted`.

In [130]:
# step 1: filter touches table by status = completed
# step 2: inner join touches_completed table with persons table on person_id
# step 3: inner join touches_completed_person table with companies table on id
# touches_completed = touches[touches['status'] == 'completed']

# touches_completed_persons = pd.merge(touches_completed, persons, left_on = 'person_id', right_on ='id')
# touches_completed_persons.drop(['id_x', 'id_y'], axis = 1, inplace=True)

# touches_completed_persons_companies = pd.merge(touches_completed_persons, companies, left_on = 'company_id', right_on ='id')
# touches_completed_persons_companies.drop(['id'], axis = 1, inplace=True)

company_industry = touches_completed_persons_companies[['company_id', 'industry']]
unique_company_industry = company_industry.drop_duplicates()

#print(unique_company_industry[unique_company_industry['industry'] == 'Internet Software & Services'].shape)

answer = unique_company_industry.groupby('industry').count().sort_values('company_id').iloc[-1, :].name

print(f'The most common industry out of all the companies that were contacted: {answer}')

The most common industry out of all the companies that were contacted: Internet Software & Services

### Question 2. What is the most common touch type sellers use when they’re making their first touch with a person? What about first touch with a company?

In [167]:
touches_users_earliest_date = touches.loc[touches.groupby('person_id').touch_scheduled_on.idxmin()]
most_first_touch_by_person = touches_users_earliest_date.groupby('touch_type').count().loc[:, 'id'].idxmax()
print(f'Sellers use {most_first_touch_by_person} method when they are making their first touch with a person')

Sellers use Other method when they are making their first touch with a person

In [163]:
(touches_users_earliest_date.groupby('touch_type').count()).loc[:, 'id'].idxmax()

'Other'

In [146]:
touches.loc[touches.groupby('person_id').touch_scheduled_on.idxmin()]

            id  person_id touch_scheduled_on     status touch_type
335188  614121         64         2018-09-11  completed      Email
350     166558         66         2017-06-01  completed      Phone
224     166380         82         2017-06-01  completed      Phone
7340    176348         84         2017-06-15  completed      Email
367714  656192         88         2018-10-03  completed      Other
...        ...        ...                ...        ...        ...
322001  597161     235418         2018-08-31  completed      Email
345038  626983     235419         2018-09-18  completed      Email
344884  626792     235422         2018-09-18  completed      Email
1605    168292     235423         2017-06-05  completed      Email
203475  444463     235424         2018-05-02  completed      Other

[61035 rows x 5 columns]

### Question 3. Describe the distribution of the job seniorities of people that a seller will first try to contact within a company.

To answer this question, you may use visuals, graphs, bunch of scores, tables, writeups - whatever you want. We literally want you to "describe" the distribution to us in the best way you can!

(Note: this question doesn't really have one right answer. It's more about your style of communicating the results.)

### Question 4. Describe the distribution of the mixture of job seniorities of people that a seller will touch during the entire engagement with a company.
Keep in mind that you get to decide what “mixture” means, so do begin your answer by defining it - and explaining why you think this definition makes sense. Again, feel free to use whatever visuals, graphs, bunch of scores, tables, writeups etc. that you think is appropriate for this question.

(Note: this question doesn't really have one right answer. It's more about your style of communicating the results.)

### Question 5. Build an algorithm that, when a seller is about to contact a company it never reached out to before, recommends the best/optimal mixture of job seniorities (with “mixture” as defined by you in Question 4.) they should be targeting within that company during the entire engagement.

This is the hardest question in this exercise. If you feel you have a good idea what the algorithm should look like but either feel uncomfortable coding-wise or feel pressed for time, it is perfectly OK to describe your idea in words. Be clear, explain both what it does and why you think this is the right approach.

Whether or not you go the code-route or writeup-route, be sure to explain the assumptions and choices you made, why you made them and how you would test them.

(Note: like with the previous two questions, this question doesn't really have one right answer either!)